<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <!-- WCF service configuration -->
  <system.serviceModel>
    <services>
      <service name="GreedyGameLibrary.GreedyGame">
        <endpoint
          name="GreedyGameService"
          address="http://localhost:12321/GreedyGameLibrary/GreedyGame"
          binding="wsDualHttpBinding"
          contract="GreedyGameLibrary.IGreedyGame"
        />
      </service>
    </services>
  </system.serviceModel>
</configuration>